## easy parse
Here is a html parsing example
* search some `<table>` tag <table> by class attribute
* find row `<tr>` with some text in cell `<td>`
* print all row

In [2]:
import requests
from lxml import html

In [9]:
target = "https://www.investing.com/equities/ford-motor-co-financial-summary"
# fake header to avoid server antibot
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
response = requests.get(target, headers=headers) # get response
tree = html.fromstring(response.content) # convert content text to lxml obj

In [10]:
target_tag = "Net Income"  # target tag

In [11]:
# table with attribute class="genTbl openTbl companyFinancialSummaryTbl"
#  tr row
#    td cell with innerText = target_tag

In [12]:
target_element_list = tree.xpath(r".//td[contains(text(),'Net Income')]") # get right list
 # get first cell <td> and then get its parent <tr> all row
target_tr = target_element_list[0].getparent()
target_ans_list = [td.text for td in target_tr.findall("td")] # get tag text for each cell <td>

In [13]:
print(target_ans_list)

['Net Income', '2409', '1564', '2042', '1587']